body{
    background-image: url("../.././images/cinema.jpg");
    background-size: cover;
    
    /* this color displays while background image loads */
    background-color:#222020;
}
.pure-menu{
    
    /* background-color: rgb(60, 223, 223); */
    opacity: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 2% 10%;
    color: whitesmoke;
    opacity: 88%;
}
.button{
    margin-top:2%;
    margin-left: 10%;
}
.container{
    margin: 4% 8%;
    border-radius: 2%;
    background-color: rgba(55, 14, 40, 0.899);
    padding: 2%;
    border: 1px solid whitesmoke;   
}
.pure-u-1{
    padding: 2% 2%;
}
.name {
    margin-left:10%;
}
.fa{
    padding: 3%;
}
.text-center {
    text-align: center;
}
.pure-menu-item {
    color: whitesmoke;
}
.pure-menu-item:hover {
    color: black;
}
.bg-green {
    background-color: green;
    color: whitesmoke;
}
.bg-green:hover {
    background-color: green;
    color: whitesmoke;
}
.bg-red {
    background-color: red;
    color: whitesmoke;
}
.bg-red:hover {
    background-color: red;
    color: whitesmoke;
}
.justify-content-center {
    justify-content: center;
}
.gif {
    justify-content: center;
    width:100%;
}
.movie-name {
    text-decoration: underline;
}

.d-flex {
    display:flex;
    flex-direction: column;
    align-content: center;
}
/* margin top */
.mt-1 {
    margin-top: 1%;
}
/* hide */
.hidden {
    display: none;
}
#score {
    text-align: right;
    color: rgb(232, 201, 76);
    opacity: 90%;
    text-emphasis: none;
}
.img{
    margin-bottom: 3%;
    border-radius:3%;
    border: 1px solid whitesmoke;
    max-width: 99%;
}
.header-img {
    margin-bottom: 0;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .container{
        border-radius: 5%;
    }
    
    .img {
        max-height: 205px;
    }
}
